<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		h1	{border: 4px solid black;
			align-left;
			width:30%}
			
		button {color:green;}
		
		table, th, td, tr, tbody {border: 1px solid black;}
	</style>

    <title>Car list</title>
    <meta http-equiv="Content-Type" content = "text/html" charset="UTF-8">
</head>
<body>
   <h1 th:text="#{greeting}"></h1><h2 th:inline="text"> [[${#httpServletRequest.remoteUser}]]</h2>
 

   <h2 th:text="#{titletext}"></h2>
     <table>
     
       <tbody>
        <td><b th:text="#{cartitleheader}"></b>
         <td><b th:text="#{carcountryheader}"></b>
          <td><b th:text="#{caryearheader}"></b>
           <td><b th:text="#{carinfoheader}"></b>
            <td><b th:text="#{carpriceheader}"></b>
            <td><b th:text="#{carownerheader}"></b>
              <tr th:each = "car : ${cars}">
                <td th:text="${car.cartitle}"></td>
                <td th:text="${car.carcountry}"></td>
                <td th:text="${car.caryear}"></td>
                <td th:text="${car.carinfo}"></td>
                <td th:text="${car.carprice}"> </td>
               	<td th:text="${car.owner.ownername}"></td>
                  <td sec:authorize="hasRole('ADMIN')">  <a th:href="@{/delete/{id}(id=${car.carid})}"  th:text="#{deletebutton}" ></a></td>
               <td><a th:href="@{/edit/{id}(id=${car.carid})}" th:text="#{editbutton}" ></a></td>  
             
                </tr>
            
       </tbody>

   	</table>
 <table>
     <form th:action="@{/add}" method="post">	
     <button class="button" type="submit" th:text="#{addcarbutton}"></button>&nbsp;                		
     </form>  
               	 
     <form th:action="@{/addO}" method="post">
	 <button type="submit" th:text="#{addownerbutton}"></button>&nbsp;
     </form>
     
        <form th:action="@{/logout}" method="post">
		<button type="submit" th:text="#{logoutbutton}"></button>
		</form> 
</table>

   <span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="fin" th:text="#{lang.fin}"></option>
</select>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>

		<script type="text/javascript">
		$(document).ready(function() {
		    $("#locales").change(function () {
		        var selectedOption = $('#locales').val();
		        if (selectedOption != ''){
		            window.location.replace('/?lang=' + selectedOption);
		        }
		    });
		});
		</script>
    

</body>
</html>	